<section class="content-header">
    <h1>
        Recommendation System
        <small>Search for the best skills for your dream team</small>
    </h1>
</section>
<section class="content">
    <div class="row">

        <div class="panel panel-default">
            <div class="panel-heading">Complete the search criteria</div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class=" ">
                        <div class=" profilePage">
                            <div  >
                                <div class="technologieTab" ng-repeat="tech in technologies">
                                    <div class="technologieName label" style="margin-bottom: 0px;" ng-click="collapse($index)">
                                                {{tech.category}}
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse"
                                         ng-class="{'in': isAccordionActive($index)}">
                                        <div class="box-body">
                                            <div class="checkbox col-lg-2" style="margin-top:0px"
                                                 ng-repeat="skill in tech.skillList">
                                                <label>
                                                    <input type="checkbox" ng-model="filter[skill.name].selected">
                                                    {{skill.name}}
                                                </label>
                                                <input type="number" ng-model="filter[skill.name].score" class="form-cotrol"
                                                       style="width: 40px;float: right;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="">

                            <div class="col-md-6 form-inline">
                              <label>Select Position </label>
                                <select name="searchField"
                                        class="form-control"
                                        ng-model="filter.position"
                                        ng-init="filter.position=positions[0]"
                                        ng-options="position for position in positions">
                                </select>
                            </div>
                            <div class="col-md-6 text-right">
                                <button class="btn btn-primary" ng-click="getRecommendedMembers()">Recommend members
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" ng-show="showResultsPanel">
            <div class="panel-heading">This is the list of recommended users</div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="box box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Members are ordered based on your criteria</h3>
                        </div>
                        <div class="box-body">
                            <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="example2" class="table table-bordered table-hover dataTable"
                                               role="grid" aria-describedby="example2_info">
                                            <thead>
                                            <tr role="row">
                                                <th tabindex="0" rowspan="1" colspan="1">Email</th>
                                                <th tabindex="0" rowspan="1" colspan="1">Name</th>
                                                <th tabindex="0" rowspan="1" colspan="1">Position</th>
                                                <th tabindex="0" rowspan="1" colspan="1"
                                                    style="width:50px;text-align:center;">Score
                                                </th>
                                                <th tabindex="0" rowspan="1" colspan="1"
                                                    style="width:50px;text-align:center;">Action
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr role="row" ng-repeat="profile in profiles track by $index">
                                                <td><span><a ui-sref="profile({id:profile.email})">{{profile.email}}</a></span>
                                                </td>
                                                <td>{{profile.firstName}} {{profile.lastName}}</td>
                                                <td>{{profile.position}}</td>
                                                <td style="text-align:center;"><span class="badge"
                                                                                     ng-class="scoreBadgeCollor(profile.score)">{{profile.score}}</span>
                                                </td>
                                                <td><span ng-click="addProfileToSelection(profile)"><i
                                                        class="fa fa-fw fa-save"
                                                        ng-class="{'text-green':ifIsSaved(profile)}"></i></span></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
