<section class="content-header">
    <h1>
        Recomandations System
        <small>Search team members</small>
    </h1>
</section>
<section class="content">
    <div class="row">

        <div class="panel panel-default">
            <div class="panel-heading">Complete the search criteria</div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="box box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Select skills</h3>
                        </div>
                        <div class="box-body">
                            <div class="box-group" id="accordion">
                                <div class="panel box box-primary" ng-repeat="tech in technologies" >
                                    <div class="box-header with-border">
                                        <h4 class="box-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)" ng-click="collapse($index)">
                                                {{tech.category}}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in" ng-class="{'in': isAccordionActive($index)}">
                                        <div class="box-body">
                                            <div class="checkbox col-lg-2" style="margin-top:0px" ng-repeat="skill in tech.skillList">
                                                <label>
                                                    <input type="checkbox" ng-model="filter[skill.name].selected"> {{skill.name}}
                                                </label>
                                                <input type="number" ng-model="filter[skill.name].score" style="width: 40px;float: right;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-header with-border">
                            <h3 class="box-title">Select Position</h3>
                        </div>
                        <div class="box-body">
                            <div class="col-md-6">
                                <select name="searchField"
                                        class="form-control"
                                        ng-model="filter.position"
                                        ng-init="filter.position=positions[0]"
                                        ng-options="position for position in positions">
                                </select>
                            </div>
                            <div class="col-md-6 text-center">
                                <button class="btn btn-primary" ng-click="getRecommendedMembers()">Recommend members</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>

