<section class="content-header">
	
</section>

<section class="content">
	<div class="row">

		<div class="col-md-3">

			<div class="box box-primary">
				<div class="box-body box-profile">
					<img class="profile-user-img img-responsive img-circle" src="/resources/images/profile.png" alt="User profile picture">

					<h3 class="profile-username text-center">{{profile.firstName}} {{profile.lastName}}</h3>

					<p class="text-muted text-center">{{profile.position}}</p>

				</div>
			</div>

			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">About Me</h3><span class="label label-success pull-right" style="font-size: 14px;">{{profile.score}}</span>
				</div>
				<div class="box-body">

					<strong><i class="fa fa-envelope margin-r-5"></i>Email</strong>

					<p class="text-muted">
						{{profile.email}}
					</p>

					<hr>

					<strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>

					<p>
						<repeater ng-repeat="technologie in profile.technologies track by $index" >
							<repeater ng-repeat="skill in technologie.skils" >
								<span class="label profileSkill" style="background-color:{{progressBarClassColor(skill.score)}};color: #333;">{{skill.name}}</span>
							</repeater>
						</repeater>
					</p>
				</div>
			</div>
		</div>

		<div class="col-md-9">
			<div class="box box-solid">
				<div class="box-header with-border">
					<h3 class="box-title">Skill overview</h3>
				</div>
				<div class="box-body profilePage">
					<div ng-repeat="technologie in profile.technologies track by $index" class="technologieTab">
						<span class="technologieName label">{{technologie.name}} - {{technologie.score}}</span>
						<div>
							<div ng-repeat="skill in technologie.skils" class="skillTab">
								<span class="skillName"></span>
								<div class="progress progress-s">
									<div class="progress-bar " style="background-color:{{progressBarClassColor(skill.score)}};width: {{skill.score*10}}%">{{skill.name}} - {{skill.score}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
