<section class="content-header">
	<h1>
		Profiles
		<small>search your best member</small>
	</h1>
</section>
<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
					<div class="col-xs-3">
						<input class="form-control" ng-model="profilesFilters.email" placeholder="filter by email">
					</div>
					<div class="col-xs-3">
						<input class="form-control" ng-model="profilesFilters.lastName" placeholder="filter by name">
					</div>
					<div class="col-xs-3">
						<input class="form-control" ng-model="profilesFilters.position" placeholder="filter by position">
					</div>
					<div class="col-xs-3">
						<span class="btn btn-info">Search</span>
					</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

						<div class="row">
							<div class="col-sm-12">
								<table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
									<thead>
										<tr role="row">
											<th tabindex="0" rowspan="1" colspan="1" >Email</th>
											<th tabindex="0" rowspan="1" colspan="1" >Name</th>
											<th tabindex="0" rowspan="1" colspan="1" >Position</th>
											<th tabindex="0" rowspan="1" colspan="1" >Team</th>
											<th tabindex="0" rowspan="1" colspan="1" style="width:50px;text-align:center;">Score</th>
										</tr>
									</thead>
									<tbody>
										<tr role="row" ng-repeat="profile in profiles track by $index">
											<td><span ng-click="openProfile(profile.id)">{{profile.email}}</span></td>
											<td>{{profile.name}}</td>
											<td>{{profile.position}}</td>
											<td>{{profile.team}}</td>
											<td style="text-align:center;"><span class="badge" ng-class="scoreBadgeCollor(profile.score)">{{profile.score}}</span></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-5">
								<div class="dataTables_info" id="example2_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
							</div>
							<div class="col-sm-7">
								<div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
									<ul class="pagination">
										<li class="paginate_button previous disabled" id="example2_previous">
											<a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0">Previous</a>
										</li>
										<li class="paginate_button active">
											<a href="#" aria-controls="example2" data-dt-idx="1" tabindex="0">1</a>
										</li>
										<li class="paginate_button ">
											<a href="#" aria-controls="example2" data-dt-idx="2" tabindex="0">2</a>
										</li>
										<li class="paginate_button ">
											<a href="#" aria-controls="example2" data-dt-idx="3" tabindex="0">3</a>
										</li>
										<li class="paginate_button ">
											<a href="#" aria-controls="example2" data-dt-idx="4" tabindex="0">4</a>
										</li>
										<li class="paginate_button ">
											<a href="#" aria-controls="example2" data-dt-idx="5" tabindex="0">5</a>
										</li>
										<li class="paginate_button ">
											<a href="#" aria-controls="example2" data-dt-idx="6" tabindex="0">6</a>
										</li>
										<li class="paginate_button next" id="example2_next">
											<a href="#" aria-controls="example2" data-dt-idx="7" tabindex="0">Next</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->

		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->
