<section class="content-header">
	<h1>
		Profiles
		<small>search your best member</small>
	</h1>
</section>
<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
					<div class="col-xs-3">
						<input class="form-control" ng-model="profilesFilters.email" placeholder="filter by email" ng-enter="getProfiles()">
					</div>
					<div class="col-xs-3">
						<input class="form-control" ng-model="profilesFilters.lastName" placeholder="filter by name" ng-enter="getProfiles()">
					</div>
					<div class="col-xs-3">
						<input class="form-control" ng-model="profilesFilters.position" placeholder="filter by position" ng-enter="getProfiles()">
					</div>
					<div class="col-xs-3">
						<span class="btn btn-info" ng-click="getProfiles()">Search</span>
					</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

						<div class="row">
							<div class="col-sm-12">
								<table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
									<thead>
										<tr role="row">
											<th tabindex="0" rowspan="1" colspan="1" >Email</th>
											<th tabindex="0" rowspan="1" colspan="1" >Name</th>
											<th tabindex="0" rowspan="1" colspan="1" >Position</th>
											<th tabindex="0" rowspan="1" colspan="1" >Team</th>
											<th tabindex="0" rowspan="1" colspan="1" style="width:50px;text-align:center;">Score</th>
											<th tabindex="0" rowspan="1" colspan="1" style="width:50px;text-align:center;">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr role="row" ng-repeat="profile in profiles track by $index">
											<td><span><a ui-sref="profile({id:profile.email})">{{profile.email}}</a></span></td>
											<td>{{profile.firstName}} {{profile.lastName}}</td>
											<td>{{profile.position}}</td>
											<td>{{profile.team}}</td>
											<td style="text-align:center;"><span class="badge" ng-class="scoreBadgeCollor(profile.score)">{{profile.score}}</span></td>
											<td><span ng-click="addProfileToSelection(profile)"><i class="fa fa-fw fa-save" ng-class="{'text-green':ifIsSaved(profile)}"></i></span></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-5">
								<div class="dataTables_info" id="example2_info" role="status" aria-live="polite">Showing {{profilesFilters.pageNumber}} to {{profilePageInfo.totalPages}} of {{profilePageInfo.total}} entries</div>
							</div>
							<div class="col-sm-7">
								<div class="dataTables_paginate paging_simple_numbers" ng-show="profilePageInfo.totalPages>1">
									<ul class="pagination">
										<li class="paginate_button previous" >
											<a  aria-controls="example2" data-dt-idx="0" tabindex="0" ng-click="changePage(profilesFilters.pageNumber-1)">Previous</a>
										</li>
										<li class="paginate_button active">
											<a aria-controls="example2" data-dt-idx="1" tabindex="0" ng-click="changePage(1)">1</a>
										</li>
										<li class="paginate_button ">
											<a  aria-controls="example2" data-dt-idx="2" tabindex="0" ng-click="changePage(2)">2</a>
										</li>
										<li class="paginate_button next" id="example2_next">
											<a  aria-controls="example2" data-dt-idx="7" tabindex="0" ng-click="changePage(profilesFilters.pageNumber+1)">Next</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->

		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->
