<div class="wrapper">

	<header class="main-header">
		<!-- Logo -->
		<a  ui-sref="dashboard" class="logo">
			<!-- mini logo for sidebar mini 50x50 pixels -->
			<span  class="logo-mini"><img src="http://www.endava.com/~/media/Common/logo.ashx" height="15px"></span>
			<!-- logo for regular state and mobile devices -->
			<span class="logo-lg"><img src="http://www.endava.com/~/media/Common/logo.ashx" height="30px"></span>
		</a>
		<!-- Header Navbar: style can be found in header.less -->
		<nav class="navbar navbar-static-top" role="navigation">
			<!-- Sidebar toggle button-->
			<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<div class="navbar-custom-menu">
				<ul class="nav navbar-nav">
					<!-- Messages: style can be found in dropdown.less-->
					<li class="dropdown messages-menu">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-envelope-o"></i>
							<span class="label label-success">4</span>
						</a>
						<ul class="dropdown-menu">
							<li class="header">You have 4 messages</li>
							<li>
								<!-- inner menu: contains the actual data -->
								<ul class="menu">
									<li><!-- start message -->
										<a href="#">
											<div class="pull-left">

											</div>
											<h4>
												Support Team
												<small><i class="fa fa-clock-o"></i> 5 mins</small>
											</h4>
											<p>Why not buy a new awesome theme?</p>
										</a>
									</li><!-- end message -->
									<li>
										<a href="#">
											<div class="pull-left">

											</div>
											<h4>
												AdminLTE Design Team
												<small><i class="fa fa-clock-o"></i> 2 hours</small>
											</h4>
											<p>Why not buy a new awesome theme?</p>
										</a>
									</li>
									<li>
										<a href="#">
											<div class="pull-left">

											</div>
											<h4>
												Developers
												<small><i class="fa fa-clock-o"></i> Today</small>
											</h4>
											<p>Why not buy a new awesome theme?</p>
										</a>
									</li>
									<li>
										<a href="#">
											<div class="pull-left">

											</div>
											<h4>
												Sales Department
												<small><i class="fa fa-clock-o"></i> Yesterday</small>
											</h4>
											<p>Why not buy a new awesome theme?</p>
										</a>
									</li>
									<li>
										<a href="#">
											<div class="pull-left">

											</div>
											<h4>
												Reviewers
												<small><i class="fa fa-clock-o"></i> 2 days</small>
											</h4>
											<p>Why not buy a new awesome theme?</p>
										</a>
									</li>
								</ul>
							</li>
							<li class="footer"><a href="#">See All Messages</a></li>
						</ul>
					</li>
					<!-- Notifications: style can be found in dropdown.less -->
					<li class="dropdown notifications-menu">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-bell-o"></i>
							<span class="label label-warning">10</span>
						</a>
						<ul class="dropdown-menu">
							<li class="header">You have 10 notifications</li>
							<li>
								<!-- inner menu: contains the actual data -->
								<ul class="menu">
									<li>
										<a href="#">
											<i class="fa fa-users text-aqua"></i> 5 new members joined today
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the page and may cause design problems
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-users text-red"></i> 5 new members joined
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-shopping-cart text-green"></i> 25 sales made
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-user text-red"></i> You changed your username
										</a>
									</li>
								</ul>
							</li>
							<li class="footer"><a href="#">View all</a></li>
						</ul>
					</li>
					<!-- Tasks: style can be found in dropdown.less -->
					<li class="dropdown tasks-menu">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-flag-o"></i>
							<span class="label label-danger">9</span>
						</a>
						<ul class="dropdown-menu">
							<li class="header">You have 9 tasks</li>
							<li>
								<!-- inner menu: contains the actual data -->
								<ul class="menu">
									<li><!-- Task item -->
										<a href="#">
											<h3>
												Design some buttons
												<small class="pull-right">20%</small>
											</h3>
											<div class="progress xs">
												<div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
													<span class="sr-only">20% Complete</span>
												</div>
											</div>
										</a>
									</li><!-- end task item -->
									<li><!-- Task item -->
										<a href="#">
											<h3>
												Create a nice theme
												<small class="pull-right">40%</small>
											</h3>
											<div class="progress xs">
												<div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
													<span class="sr-only">40% Complete</span>
												</div>
											</div>
										</a>
									</li><!-- end task item -->
									<li><!-- Task item -->
										<a href="#">
											<h3>
												Some task I need to do
												<small class="pull-right">60%</small>
											</h3>
											<div class="progress xs">
												<div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
													<span class="sr-only">60% Complete</span>
												</div>
											</div>
										</a>
									</li><!-- end task item -->
									<li><!-- Task item -->
										<a href="#">
											<h3>
												Make beautiful transitions
												<small class="pull-right">80%</small>
											</h3>
											<div class="progress xs">
												<div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
													<span class="sr-only">80% Complete</span>
												</div>
											</div>
										</a>
									</li><!-- end task item -->
								</ul>
							</li>
							<li class="footer">
								<a href="#">View all tasks</a>
							</li>
						</ul>
					</li>
					<!-- User Account: style can be found in dropdown.less -->
					<li class="dropdown user user-menu">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">

							<span class="hidden-xs">Radu</span>
						</a>
						<ul class="dropdown-menu">
							<!-- User image -->
							<li class="user-header">

								<p>
									Radu Coman - Web Developer
									<small>Member since October. 2015</small>
								</p>
							</li>
							<!-- Menu Body -->

							<!-- Menu Footer-->
							<li class="user-footer">
								<div class="pull-left">
									<a href="#" class="btn btn-default btn-flat">Profile</a>
								</div>
								<div class="pull-right">
									<span class="btn btn-default btn-flat" ng-click="logout()">Sign out</span>
								</div>
							</li>
						</ul>
					</li>
					<!-- Control Sidebar Toggle Button -->
					<li>
						<a data-toggle="control-sidebar" ng-click="myTeamSidebar=!myTeamSidebar"><i class="fa fa-gears"></i></a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<!-- Left side column. contains the logo and sidebar -->
	<aside class="main-sidebar">
		<!-- sidebar: style can be found in sidebar.less -->
		<section class="sidebar">

			<!-- sidebar menu: : style can be found in sidebar.less -->
			<ul class="sidebar-menu">
				<!--<li class="header">MAIN NAVIGATION</li>-->
				<li ng-class="{'active':currentState=='dashboard'}">
					<a ui-sref="dashboard">
						<i class="fa fa-dashboard"></i> <span>Dashboard</span></i>
					</a>
				</li>
				<li ng-class="{'active':currentState=='users'}">
					<a ui-sref="users">
						<i class="fa fa-dashboard"></i> <span>Users</span></i>
					</a>
				</li>
				<li ng-class="{'active':currentState=='profiles'}">
					<a ui-sref="profiles">
						<i class="ion-medkit"></i>
						<span>Profiles</span>
					</a>
				</li>
				<li ng-class="{'active':currentState=='teams'}">
					<a ui-sref="teams">
						<i class="ion-ios-people"></i>
						<span>Teams</span>
					</a>
				</li>
				<li ng-class="{'active':currentState=='search'}">
					<a ui-sref="search">
						<i class="fa fa-pie-chart"></i>
						<span>Search</span>
					</a>
				</li>

			</ul>
		</section>
		<!-- /.sidebar -->
	</aside>

	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">

		<!-- Main content -->
		<section class="content">
			<div ui-view ></div>
		</section><!-- /.content -->
	</div><!-- /.content-wrapper -->
	<footer class="main-footer">
		<div class="pull-right hidden-xs">
			<b>Version</b> 1.1.0
		</div>
		<strong>Copyright &copy; 2016 <a href="http://endava.com">Endava</a>.</strong> All rights reserved.
	</footer>

	<!-- Control Sidebar -->
	<aside class="control-sidebar control-sidebar-light" ng-class="{'control-sidebar-open':myTeamSidebar}">
		<!-- Create the tabs -->
		<h2 style="text-align:center;" class="title">Team Preparation</h2>
		<div class="">
			<div class="col-md-12">
				<div class="box box-solid">
            <div class="box-body">
              <div class="">
								<linechart data="data" options="options"></linechart>
              </div>
							<div ng-if="teamMembers.length==0">
									<h4 class="title">There are no teams members for recomandation</h4>
							</div>
            </div>
            <!-- /.box-body -->
          </div>
			</div>
			<div class="col-md-6">
				<div class="box box-solid">
						<div class="box-header"><h3 class="box-title" style="text-align:center;display:block;">Profiles selected</h3></div>
            <div class="box-body">
              <div class="">

								<table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
									<thead>
										<tr role="row">
											<th tabindex="0" rowspan="1" colspan="1" >Email</th>
											<th tabindex="0" rowspan="1" colspan="1" >Name</th>
											<th tabindex="0" rowspan="1" colspan="1" >Position</th>
											<th tabindex="0" rowspan="1" colspan="1" >Team</th>
											<th tabindex="0" rowspan="1" colspan="1" style="width:50px;text-align:center;">Score</th>
											<th tabindex="0" rowspan="1" colspan="1" style="width:50px;text-align:center;">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr role="row" ng-repeat="profile in profilesSelected track by $index" ng-if="profile.selected==false">
											<td><span ng-click="openProfile(profile.email)">{{profile.email}}</span></td>
											<td>{{profile.firstName}} {{profile.lastName}}</td>
											<td>{{profile.position}}</td>
											<td>{{profile.team}}</td>
											<td style="text-align:center;"><span class="badge" ng-class="scoreBadgeCollor(profile.score)">{{profile.score}}</span></td>
											<td><span ng-click="removeProfileFromSelection(profile)"><i class="fa fa-fw fa-remove"></i></span><span ng-click="selectProfileToTeam(profile)"><i class="fa fa-fw fa-exchange"></i></span></td>
										</tr>
									</tbody>
								</table>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
			</div>
			<div class="col-md-6">
				<div class="box box-solid">
						<div class="box-header"><h3 class="box-title" style="text-align:center;display:block;">Team to propose</h3></div>
            <div class="box-body">
              <div class="">
								<table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
									<thead>
										<tr role="row">
											<th tabindex="0" rowspan="1" colspan="1" >Email</th>
											<th tabindex="0" rowspan="1" colspan="1" >Name</th>
											<th tabindex="0" rowspan="1" colspan="1" >Position</th>
											<th tabindex="0" rowspan="1" colspan="1" >Team</th>
											<th tabindex="0" rowspan="1" colspan="1" style="width:50px;text-align:center;">Score</th>
											<th tabindex="0" rowspan="1" colspan="1" style="width:50px;text-align:center;">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr role="row" ng-repeat="profile in profilesSelected track by $index" ng-if="profile.selected==true">
											<td><span ng-click="openProfile(profile.email)">{{profile.email}}</span></td>
											<td>{{profile.firstName}} {{profile.lastName}}</td>
											<td>{{profile.position}}</td>
											<td>{{profile.team}}</td>
											<td style="text-align:center;"><span class="badge" ng-class="scoreBadgeCollor(profile.score)">{{profile.score}}</span></td>
											<td><span ng-click="removeProfileFromTeam(profile)"><i class="fa fa-fw fa-exchange"></i></span></td>
										</tr>
									</tbody>
								</table>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
			</div>
		</div>
	</aside><!-- /.control-sidebar -->
	<!-- Add the sidebar's background. This div must be placed
		 immediately after the control sidebar -->
	<div class="control-sidebar-bg"></div>
</div><!-- ./wrapper -->
