<div class="wrapper">

	<header class="main-header">
		<!-- Logo -->
		<a  ui-sref="/" class="logo">
			<!-- mini logo for sidebar mini 50x50 pixels -->
			<span  class="logo-mini"><img src="http://www.endava.com/~/media/Common/logo.ashx" height="15px"></span>
			<!-- logo for regular state and mobile devices -->
			<span class="logo-lg"><img src="http://www.endava.com/~/media/Common/logo.ashx" height="30px"></span>
		</a>
		<!-- Header Navbar: style can be found in header.less -->
		<nav class="navbar navbar-static-top" role="navigation">
			<!-- Sidebar toggle button-->
			<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<div class="navbar-custom-menu">
				<ul class="nav navbar-nav">
					<!-- Messages: style can be found in dropdown.less-->



					<!-- Control Sidebar Toggle Button -->
					<li>
						<a data-toggle="control-sidebar" ng-click="myTeamSidebar=!myTeamSidebar"><i class="fa fa-gears"></i> Team Configuration</a>
					</li>
					<li class="dropdown user user-menu">
						<a class="dropdown-toggle">
							<span ng-click="logout()">Sign out</span>
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<!-- Left side column. contains the logo and sidebar -->
	<aside class="main-sidebar">
		<!-- sidebar: style can be found in sidebar.less -->
		<section class="sidebar">

			<!-- sidebar menu: : style can be found in sidebar.less -->
			<ul class="sidebar-menu">
				<!--<li class="header">MAIN NAVIGATION</li>-->
				<li ng-class="{'active':currentState=='profiles'}">
					<a ui-sref="profiles">
						<i class="fa fa-fw fa-user"></i>
						<span> Profiles</span>
					</a>
				</li>
				<li ng-class="{'active':currentState=='search'}">
					<a ui-sref="search">
						<i class="fa fa-pie-chart"></i>
						<span>Recommendation System</span>
					</a>
				</li>
				<li ng-class="{'active':currentState=='teams'}">
					<a ui-sref="teams">
						<i class="fa fa-fw fa-users"></i>
						<span> Saved Teams</span>
					</a>
				</li>
			</ul>
		</section>
		<!-- /.sidebar -->
	</aside>

	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">

		<!-- Main content -->
		<section class="content">
			<div ui-view ></div>
		</section><!-- /.content -->
	</div><!-- /.content-wrapper -->
	<footer class="main-footer">
		<div class="pull-right hidden-xs">
			<b>Version</b> 1.1.0 (POC)
		</div>
		<strong>Copyright &copy; 2016 <a href="http://endava.com">Endava</a>.</strong> All rights reserved.
	</footer>

	<!-- Control Sidebar -->
	<aside class="control-sidebar control-sidebar-light" ng-class="{'control-sidebar-open':myTeamSidebar}">
		<!-- Create the tabs -->
		<h2 style="text-align:center;" class="title">Team Preparation</h2>
		<div class="">
			<div class="col-md-12">
				<div class="box box-solid">
            <div class="box-body">
              <div class="chartToDisplay">
								<div class="chartTeamHere"></div>
              </div>
							<div ng-if="teamMembers.length==0">
									<h4 class="title">There are no teams members for recomandation</h4>
							</div>
            </div>
            <!-- /.box-body -->
          </div>
			</div>
			<div class="col-md-6">
				<div class="box box-solid">
						<div class="box-header"><h3 class="box-title" style="text-align:center;display:block;">Profiles selected</h3></div>
            <div class="box-body">
              <div class="">

								<table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
									<thead>
										<tr role="row">
											<th tabindex="0" rowspan="1" colspan="1" >Email</th>
											<th tabindex="0" rowspan="1" colspan="1" >Name</th>
											<th tabindex="0" rowspan="1" colspan="1" >Position</th>
											<th tabindex="0" rowspan="1" colspan="1" style="width:50px;text-align:center;">Score</th>
											<th tabindex="0" rowspan="1" colspan="1" style="width:50px;text-align:center;">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr role="row" ng-repeat="profile in profilesSelected track by $index" ng-if="profile.selected==false">
											<td><span ng-click="openProfile(profile.email)">{{profile.email}}</span></td>
											<td>{{profile.firstName}} {{profile.lastName}}</td>
											<td>{{profile.position}}</td>
											<td style="text-align:center;"><span class="badge" ng-class="scoreBadgeCollor(profile.score)">{{profile.score}}</span></td>
											<td style="text-align:center;"><span ng-click="removeProfileFromSelection(profile)"><i class="fa fa-fw fa-remove"></i></span><span ng-click="selectProfileToTeam(profile)"><i class="fa fa-fw fa-exchange"></i></span></td>
										</tr>
									</tbody>
								</table>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
			</div>
			<div class="col-md-6">
				<div class="box box-solid">
						<div class="box-header"><h3 class="box-title" style="text-align:center;display:block;">Team to propose</h3></div>
            <div class="box-body">
              <div class="">
								<table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
									<thead>
										<tr role="row">
											<th tabindex="0" rowspan="1" colspan="1" >Email</th>
											<th tabindex="0" rowspan="1" colspan="1" >Name</th>
											<th tabindex="0" rowspan="1" colspan="1" >Position</th>
											<th tabindex="0" rowspan="1" colspan="1" style="width:50px;text-align:center;">Score</th>
											<th tabindex="0" rowspan="1" colspan="1" style="width:50px;text-align:center;">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr role="row" ng-repeat="profile in profilesSelected track by $index" ng-if="profile.selected==true">
											<td><span ng-click="openProfile(profile.email)">{{profile.email}}</span></td>
											<td>{{profile.firstName}} {{profile.lastName}}</td>
											<td>{{profile.position}}</td>
											<td style="text-align:center;"><span class="badge" ng-class="scoreBadgeCollor(profile.score)">{{profile.score}}</span></td>
											<td style="text-align:center;"><span ng-click="removeProfileFromTeam(profile)"><i class="fa fa-fw fa-exchange"></i></span></td>
										</tr>
									</tbody>
								</table>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
			</div>
		</div>
	</aside><!-- /.control-sidebar -->
	<!-- Add the sidebar's background. This div must be placed
		 immediately after the control sidebar -->
	<div class="control-sidebar-bg"></div>
</div><!-- ./wrapper -->
