<div>
    <form role="form">
        <div class="box-body">
            <div class="form-group">
                <label for="exampleInputEmail1">Team name</label>
                <input type="text" ng-model="team.name" class="form-control" id="exampleInputEmail1" placeholder="Enter team name">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Project name</label>
                <input type="text" ng-model="team.project" class="form-control" id="exampleInputPassword1" placeholder="Enter project name">
            </div>
        </div>
        <div class="box-footer text-center">
            <button type="submit" class="btn btn-primary" ng-click="submit()">Submit</button>
        </div>
    </form>
</div>